pipeline/pl_sales_synapse_child_load.json
{
	"name": "pl_sales_synapse_child_load",
	"properties": {
		"activities": [
			{
				"name": "GetMetadataOnprem",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_onprem_file_getmetadata",
						"type": "DatasetReference",
						"parameters": {
							"source_folder": {
								"value": "@pipeline().parameters.source_folder",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"created",
						"childItems",
						"exists",
						"itemName",
						"lastModified",
						"itemType"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "FilterOnlyFiles",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetMetadataOnprem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadataOnprem').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "OnPremToAdlsgen2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FilterOnlyFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_onprem_file_binary_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"source_folder": {
								"value": "@pipeline().parameters.source_folder",
								"type": "Expression"
							},
							"source_file": {
								"value": "@activity('FilterOnlyFiles').output.value[0].name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adlsgen2_target_binary_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"target_folder": {
								"value": "@pipeline().parameters.source_folder",
								"type": "Expression"
							},
							"target_file": {
								"value": "@activity('FilterOnlyFiles').output.value[0].name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Adlsgen2ToSQLStaging",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "OnPremToAdlsgen2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "truncate table @{pipeline().parameters.stg_table}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adlsgen2_csv_pipe_dynamic_source",
						"type": "DatasetReference",
						"parameters": {
							"source_folder": {
								"value": "@pipeline().parameters.source_folder",
								"type": "Expression"
							},
							"source_file": {
								"value": "@activity('FilterOnlyFiles').output.value[0].name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sqldwh_staging_dynamic_target",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": {
								"value": "@pipeline().parameters.stg_table",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Target_proc",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Adlsgen2ToSQLStaging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@pipeline().parameters.proc_name",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_synapse_sqldwh",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Archive",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Target_proc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"deleteFilesAfterCompletion": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_adlsgen2_saleshistory_archive_source",
						"type": "DatasetReference",
						"parameters": {
							"source_folder": {
								"value": "@pipeline().parameters.source_folder",
								"type": "Expression"
							},
							"source_file": {
								"value": "@activity('FilterOnlyFiles').output.value[0].name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adlsgen2_saleshistory_archive_target",
						"type": "DatasetReference",
						"parameters": {
							"target_folder": {
								"value": "@pipeline().parameters.source_folder",
								"type": "Expression"
							},
							"target_file": {
								"value": "@pipeline().parameters.job_name",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"id": {
				"type": "string"
			},
			"job_name": {
				"type": "string"
			},
			"stg_table": {
				"type": "string"
			},
			"target_table": {
				"type": "string"
			},
			"proc_name": {
				"type": "string"
			},
			"source_folder": {
				"type": "string"
			}
		},
		"folder": {
			"name": "sales_synapse_load"
		},
		"annotations": []
	}
}